.root{
  padding: 0;
}
.ReactStepper {
  padding: 0px !important;
  background-color: transparent !important;
  flex-wrap: wrap;
}
.ReactStep {
  padding: 0px !important;
  width: auto !important;
  margin: 0px 15px 15px 0px;
  display: inline-flex;
  flex-wrap: wrap;
  flex: none !important;
}

.ReactStep button:disabled{
  background-color: #f06601 !important;
  color: #707070;
  font-weight: normal !important;
  opacity: 0.65;
}