.Main {
  width: calc(100% - 246px);
  padding: 35px;
}

.mainContainer {
  display: flex;
  background-color: #EFF6FD;
  box-shadow: inset 18px 0px 25px -35px rgba(0, 0, 0, 0.45);
  min-height: calc(100vh - 101px);
  position: relative;
}

@media (max-width: 599.95px) {
  .mainContainer nav>div {
    display: block !important;
  }
}