.paper {
  margin-bottom: 20px;
  padding: 28px 25px 17px 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px !important;
  border: 1px solid #0051a8;
  position: relative;
}

.FilterWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

/* label{
  display: inline-block;
  background-color: #0051a8;
  font-size: small;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
} */

.FilterInput {
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.FilterSearchButton {
  margin-right: 10px;
  margin-bottom: 10px;
}

.FilterResetButton {
  margin-bottom: 10px;
}

.FilterAddWrap {
  float: right !important;
  margin-top: 20px;
}

.FilterAddButton {
  text-align: right !important;
  margin-bottom: 15px;
}

.FilterResetButton button {
  background-color: transparent !important;
  border: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  box-shadow: none !important;
}

.FilterResetButton button span {
  font-weight: 600 !important;
}

th:first-child {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

th:last-child {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

th {
  padding: 8px !important;
  border-bottom: none !important;
  line-height: 1.5 !important;
  font-size: 12px !important;
  color: #002f60 !important;
  font-weight: 600 !important;
  background-color: #eff6fd !important;
}

th span, th div {
  font-size: 12px !important;
  color: #002f60 !important;
  font-weight: 600 !important;
}

table>thead {
  background-color: transparent !important;
}

.ScrollTable>div {
  max-height: calc(100vh - 351px) !important;
  overflow-x: auto !important;
}

td button {
  padding: 0px 10px !important;
  color: #0072ed !important;
}

td {
  padding: 8px !important;
  line-height: 1.846 !important;
  color: #707070 !important;
  font-size: 12px !important;
  font-weight: normal !important;
}

tfoot {
  border-top: 1px solid #eee;
}

.EditIcon {
  height: 18px !important;
  width: 18px !important;
}

/*Switch*/

.PublishSwitch, .PublishSwitchCheck {
  width: 100px !important;
  padding: 4px !important;
  border: 1px solid #0051a8;
  border-radius: 20px;
  z-index: 2 !important;
  height: 39px !important;
}

.PublishSwitch>span, .PublishSwitchCheck>span {
  padding: 4px;
}

.PublishSwitch>span {
  transform: translateX(40px) !important;
}

.PublishSwitch>span+span, .PublishSwitchCheck>span+span {
  border-radius: 20px;
  background-color: transparent !important;
}

.PublishSwitch>span>span>span, .PublishSwitchCheck>span>span>span {
  width: 48px;
  background-color: #0051a8;
  height: 28px;
  border-radius: 25px;
}

.PublishSwitchLabels {
  position: absolute;
  width: 116px;
  left: 0;
  top: 0;
}

.raswitch {
  position: relative;
  margin: 7px 0px;
}

.PublishSwitchLabels>span {
  width: 48px;
  justify-content: center;
  font-weight: 500;
  display: inline-flex;
  padding: 12px 0px;
}

.PublishSwitchCheck+span .PublishSwitchNo, .PublishSwitch+span .PublishSwitchYes {
  color: #fff;
  font-size: 5px;
}

.PublishSwitchCheck+span .PublishSwitchYes, .PublishSwitch+span .PublishSwitchNo {
  color: #0051a8;
  font-size: 5px;
}

.PublishSwitchCheck>span>span>span::before {
  content: "No";
  color: #fff !important;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  padding: 6px 0px;
  justify-content: center;
}

.PublishSwitch>span>span>span::before {
  content: "YES";
  color: #fff !important;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  padding: 5px 0px;
  justify-content: center;
}
.backToListButton button {
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #0051a8 !important;
  outline: 0 !important;
  text-transform: unset !important;
  padding-right: 0px !important;
  margin-bottom: 3px;
}

.backToListButton button:hover {
  font-size: 12px !important;
  font-weight: normal !important;
  color: #0051A8 !important;
  text-transform: unset !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none;
}

.backToListButton button span img {
  width: 14px !important;
  margin-right: 3px;
}

.backToListButtonPanel {
  text-align: right;
  padding-right: 20px;
}

.uploadButton {
  cursor: pointer;
}